img {
  width: 80px;
  height: 80px;
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}
.heading {
  text-align: center;
  font-size: 24px;
}
.signin {
  /* margin-left: 250px;
  margin-right: 250px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
}
.newaccount {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid lightgray;
  margin-left: 35.5%;
  margin-right: 35.5%;
  margin-top: 22px;
  border-radius: 7px;
}
.newaccount a {
  text-decoration: none;
  color: #0969e0;
}
.myform {
  padding-left: 20px;
  padding-right: 20px;
  display: block;
  border: 1px solid lightgray;
  background-color: #f6f8fa;
  border-radius: 7px;
  height: 245px;
  width: 340px;
}
.myform label {
  padding-left: 5px;
  display: block;
  padding-bottom: 9px;
  padding-top: 21px;
}
.myform a {
  text-decoration: none;
  padding-left: 149px;
  color: #0969e0;
}
.myform input {
  display: block;
  width: 334px;
  padding-bottom: 6px;
  border-radius: 7px;
  margin-bottom: 7px;
  padding-top: 7px;
  padding-left: 10px;
  font-size: 16px;
}
input:focus {
  outline: none;
  border: 2px solid blue;
}
.button {
  background-color: #1a7f37;
  border-radius: 10px;
  margin-top: 25px;
  text-align: center;
  color: white;
  line-height: 20px;
  font-weight: bold;
  padding-top: 5px;
}
.footer {
  margin-top: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer a {
  padding-left: 25px;
  text-decoration: none;
  color: #0969e0;
}
.footer a:hover {
  text-decoration: underline;
}
#last-link {
  color: darkslategrey;
}
#last-link :hover {
  text-decoration: underline;
}
